.footer-mainmenu {
  padding-bottom: 80px;
  padding-top: 50px;
}

.footer-widget {
  margin-top: 40px;
}

.footer-mainmenu .footer-widget .title {
  font-size: 18px;
  line-height: 22px;
  color: #050505;
  font-weight: 600;
  margin-bottom: 20px;
}

.ft-menu-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ft-menu-list li {
  line-height: 2.25;
}

.ft-menu-list li a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  line-height: 30px;
  transition: 0.3s;
}
