/*!*****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************/
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./node_modules/slick-carousel/slick/slick-theme.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url(/_next/static/media/ajax-loader.0b80f665.gif) center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url(/_next/static/media/slick.25572f22.eot);
    src: url(/_next/static/media/slick.25572f22.eot?#iefix) format('embedded-opentype'), url(/_next/static/media/slick.653a4cbb.woff) format('woff'), url(/_next/static/media/slick.6aa1ee46.ttf) format('truetype'), url(/_next/static/media/slick.f895cfdf.svg#slick) format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/postContent/PostContent.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.post-content .title a {
  position: relative;
  display: inline;
  background-image: linear-gradient(90deg, currentColor 0, currentColor);
  background-size: 0 2px;
  background-position: 0 95%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
  color: inherit;
  font-weight: 600;
}

.featured-content-block:hover .post-content .title a,
.content-block:hover .post-content .title a {
  background-size: 100% 2px;
}

.font-16 {
  font-size: 16px;
}

.font-24 {
  font-size: 24px;
}

.font-30 {
  font-size: 30px;
}

.font-36 {
  font-size: 36px;
}

.truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

body.dark .post-content {
  background-color: #212121;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/columnPosts/ColumnPosts.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.widget_categories {
  border-radius: 10px;
}

.widget_categories ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  padding: 0;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/multiColumnSlider/MultiColumnSlider.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************/
.content-block-column {
  border-radius: 10px;
  background: #f0f2f5;
  padding: 50px 35px 0;
  overflow: hidden;
}

.content-block-column .post-content {
  padding-bottom: 50px;
  position: relative;
}

.post-content .post-cat {
  margin-bottom: 10px;
}

.post-content .post-cat .post-cat-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: -8px;
}

.post-content .post-cat .post-cat-list a {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  margin: 8px;
  position: relative;
  font-weight: 500;
}

.hover-flip-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.hover-flip-item span {
  display: inline-block;
  position: relative;
  z-index: 1;
  color: transparent;
  transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.hover-flip-item span:after,
.hover-flip-item span:before {
  content: attr(data-text);
  display: block;
  position: absolute;
  color: #d93e40;
}

.hover-flip-item span:before {
  top: 0;
  transform: skewY(0);
  transform-origin: right bottom;
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.hover-flip-item span:after {
  top: 105%;
  transform: skewY(7deg);
  transform-origin: left top;
  transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  color: #3858f6;
}

.content-block-column .post-content .title {
  margin-bottom: 0;
  text-align: center;
  font-weight: 600;
}

.content-block-column .post-content .title a {
  position: relative;
  display: inline;
  background-image: linear-gradient(90deg, currentColor 0, currentColor);
  background-size: 0 2px;
  background-position: 0 92%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
  color: inherit;
}

.content-block-column:hover .post-content .title a {
  background-size: 100% 2px;
}

.content-block-column .post-thumbnail {
  margin: 0 -35px;
  position: relative;
}

.content-block-column .post-thumbnail .round-shape {
  position: absolute;
  left: 0;
  top: -3px;
  z-index: 5;
}

.content-block-column .post-thumbnail .round-shape span.shape-inner {
  box-sizing: border-box;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  display: block !important;
}

.content-block-column .post-thumbnail .round-shape span .shape-img {
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  width: 0px;
  height: 0px;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  background-position: 50%;
  background-size: cover;
}

.content-block-column .post-thumbnail a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.content-block-column .post-thumbnail a img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
}

.content-block-column:hover .post-thumbnail a img {
  transform: scale(1.1);
}

.column-slider-container .slick-slide {
  padding: 20px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/navbar/Navbar.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.navbar-nav .nav-item .nav-link {
  border: none !important;
}
.navbar .dropdown-menu {
  padding-bottom: 0;
}

.dropdown-item {
  padding: 0 18px;
  height: 46px;
  display: inline-block;
  line-height: 46px;
  font-weight: 500;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  color: #878787;
}

.logo {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  color: #333;
  margin: 0;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/categoryWidgets/CategoryWidgets.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/
.category-item {
  font-size: 18px;
  line-height: 1.67;
  padding: 5px;
  flex-basis: 50%;
  color: #000;
}

.category-item a.inner {
  text-decoration: none;
  color: #65676b;
  transition: 0.3s;
  border-radius: 10px;
  background: #fbfbfd;
  display: flex;
  padding: 5px;
  align-items: center;
}

.category-item .inner .thumbnail {
  width: 50px;
  margin-right: 15px;
}

.category-item .inner .thumbnail img {
  width: 100%;
  border-radius: 100%;
}

.category-item .inner .content .title {
  transition: 0.3s;
  margin-bottom: 0;
  color: #65676b;
  font-size: 18px;
  font-weight: 600;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/largePost/LargePost.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.post-grid {
  position: relative;
  padding-bottom: 30px;
}

.post-grid .post-thumbnail {
  position: relative;
}

.post-grid .post-thumbnail a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.post-grid .post-thumbnail a span {
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
}

.post-grid .post-thumbnail a img {
  width: 100%;
  overflow: hidden;
  transition: 0.5s;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  display: block;
  object-fit: cover;
}

.post-grid:hover .post-thumbnail a img {
  transform: scale(1.1);
}

.post-grid .post-grid-content {
  position: absolute;
  bottom: 0;
  width: auto;
  padding: 0 52px;
  z-index: 2;
  left: 0;
  right: 0;
}

.post-grid-large .post-grid-content {
  padding: 0 65px;
}

.post-grid .post-grid-content .post-content {
  background: #fff;
  padding: 30px 32px;
  border-radius: 10px;
}

.post-grid .post-content .title a {
  position: relative;
  display: inline;
  background-image: linear-gradient(90deg, currentColor 0, currentColor);
  background-size: 0 2px;
  background-position: 0 95%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
  font-weight: 600;
  font-size: 30px;
}

.post-grid:hover .post-content .title a {
  background-size: 100% 2px;
}

/* .post-grid.post-grid-large .post-grid-content .post-content .post-cat {
  margin-bottom: 20px;
} */

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/smallPost/SmallPost.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.post-grid-sm.post-grid .post-content .title a {
  font-size: 24px;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/categories/Categories.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.list-categories {
  margin: -15px -15px -30px;
}

.list-categories .single-category {
  padding: 15px;
  position: relative;
  z-index: 1;
  flex-basis: 16.666%;
}

.list-categories .single-category .inner {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.list-categories .single-category .inner:before {
  background: linear-gradient(180deg, transparent, #000);
}

.list-categories .single-category .inner:before {
  position: absolute;
  content: "";
  opacity: 0.4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  transition: all 0.5s;
  z-index: 2;
}

.list-categories .single-category a {
  display: block;
}

.list-categories .single-category .thumbnail span {
  box-sizing: border-box;
  overflow: hidden;
  width: initial;
  height: initial;
  background: none;
  opacity: 1;
  border: 0px;
  margin: 0px;
  padding: 0px;
  position: relative;
  max-width: 100%;
  display: block;
}

.list-categories .single-category .thumbnail img {
  width: 100%;
  transition: all 0.5s;
  border-radius: 10px;
}

.list-categories .single-category .content {
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  padding-bottom: 22px;
  z-index: 2;
}

.list-categories .single-category .content .title {
  margin-bottom: 0;
  color: #fff;
}

.list-categories .single-category .inner:hover .thumbnail img,
.list-categories .single-category .inner:hover:before {
  transform: scale(1.1);
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/postListView/PostListView.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.post-list-view .post-thumbnail {
  min-width: 295px;
  margin-right: 20px;
  max-width: 295px;
  overflow: hidden;
}

.post-list-view .post-thumbnail a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  height: 100%;
}

.post-list-view .post-thumbnail a img {
  width: 100%;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 10px;
}

.post-list-view:hover .post-thumbnail img {
  transform: scale(1.1);
}

.post-list-view .post-content {
  border-radius: 10px;
  transition: 0.3s;
  padding: 32px 30px;
  flex-grow: 1;
  border: 1px solid #f0f2f5;
}

.post-list-view:hover .post-content {
  box-shadow: 0px 4px 10px rgba(37, 47, 63, 0.1);
  background: #ffffff;
  border: 1px solid #ffffff;
}

.post-list-view .post-content .title {
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 24px;
  font-weight: 600;
}

.post-list-view .post-content .title a {
  position: relative;
  display: inline;
  background-image: linear-gradient(90deg, currentColor 0, currentColor);
  background-size: 0 2px;
  background-position: 0 92%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
  color: inherit;
}

.post-list-view:hover .post-content .title a {
  background-size: 100% 2px;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/search/Search.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.search .form-group {
  position: relative;
  margin-bottom: 0;
  text-align: right;
  display: block;
}

.search .search-button {
  position: absolute;
  left: 0;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  width: auto;
  border: 0;
  padding: 0;
  left: 21px;
  background-color: transparent;
}

.search input {
  padding: 0 30px;
  color: #65676b;
  background: #f0f2f5;
  border-radius: 44px;
  height: 40px;
  border: 0;
  max-width: 100%;
  font-size: 14px;
  line-height: 22px;
  padding-left: 50px;
}

.dark-input::placeholder {
  color: grey;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_page__ZU32B {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  grid-gap: 64px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

@media (prefers-color-scheme: dark) {
  .page_page__ZU32B {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.page_main__GlU4n ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}

.page_main__GlU4n li:not(:last-of-type) {
  margin-bottom: 8px;
}

.page_main__GlU4n code {
  font-family: inherit;
  background: var(--gray-alpha-100);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.page_ctas__g5wGe {
  display: flex;
  gap: 16px;
}

.page_ctas__g5wGe a {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 128px;
  height: 48px;
  padding: 0 20px;
  border: none;
  border: 1px solid transparent;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}

a.page_primary__V8M9Y {
  background: var(--foreground);
  color: var(--background);
  gap: 8px;
}

a.page_secondary__lm_PT {
  border-color: var(--gray-alpha-200);
  min-width: 180px;
}

.page_footer__sHKi3 {
  grid-row-start: 3;
  display: flex;
  gap: 24px;
}

.page_footer__sHKi3 a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page_footer__sHKi3 img {
  flex-shrink: 0;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.page_primary__V8M9Y:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.page_secondary__lm_PT:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .page_footer__sHKi3 a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page_page__ZU32B {
    padding: 32px;
    padding-bottom: 80px;
  }

  .page_main__GlU4n {
    align-items: center;
  }

  .page_main__GlU4n ol {
    text-align: center;
  }

  .page_ctas__g5wGe {
    flex-direction: column;
  }

  .page_ctas__g5wGe a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.page_secondary__lm_PT {
    min-width: auto;
  }

  .page_footer__sHKi3 {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .page_logo__7fc9l {
    filter: invert();
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/searchWidget/SearchWidget.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.widget_search {
  background: #fbfbfd;
  padding: 30px;
  border-radius: 10px;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/widgetTitle/WidgetTitle.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.widget-title {
  font-weight: 700;
  font-size: 18px;
  border-bottom: 1px solid #ced0d4;
  padding-bottom: 7px;
  margin-bottom: 20px;
  text-align: center;
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[12].use[3]!./src/app/components/sidebarPosts/SidebarPosts.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/
.widget_postlist {
  background: #fbfbfd;
  padding: 30px;
}

.widget_postlist .post-medium {
  display: flex;
}

.widget_postlist .post-thumbnail {
  position: relative;
  border-radius: 10px;
  margin-right: 20px;
  min-width: 100px;
  overflow: hidden;
  width: 100px;
}

.widget_postlist .post-thumbnail a {
  display: block;
  overflow: hidden;
  border-radius: 10px;
}

.widget_postlist .post-thumbnail a img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s;
}

.widget_postlist .post-medium:hover .post-thumbnail a img {
  transform: scale(1.1);
}

.widget_postlist .post-content .title {
  margin-bottom: 10px;
  font-weight: 500;
}

.widget_postlist .post-content .title a {
  position: relative;
  display: inline;
  background-image: linear-gradient(90deg, currentColor 0, currentColor);
  background-size: 0 2px;
  background-position: 0 95%;
  transition: background-size 0.25s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0s;
  padding: 0.1% 0;
  background-repeat: no-repeat;
  color: inherit;
}

.widget_postlist .post-medium:hover .post-content .title a {
  background-size: 100% 2px;
}

.widget_postlist .post-meta {
  display: flex;
  align-items: center;
}

.widget_postlist ul.post-meta-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -8px;
  list-style: none;
}

.widget_postlist ul.post-meta-list li {
  color: #666;
  font-size: 12px;
  line-height: 18px;
  margin: 8px;
  position: relative;
}

.widget_postlist ul.post-meta-list li:first-child::after {
  right: -10px;
  position: absolute;
  background: #666;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
  content: "";
}

