.copyright-area .copyright-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.copyright-area .mainmenu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

.copyright-area ul li {
  font-size: 18px;
  line-height: 1.67;
  margin: 0 18px;
  margin-bottom: 10px;
  color: #000;
}

.copyright-area ul.mainmenu li:first-child {
  margin-left: 0;
}

.copyright-area ul li a {
  text-decoration: none;
  color: #878787;
  transition: 0.3s;
  color: var(--color-midgray);
  font-size: 16px;
  display: block;
  font-weight: 500;
  height: auto;
  line-height: normal;
}

.copyright-area .hover-flip-item-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s;
  display: flex;
}

.copyright-area .hover-flip-item-wrapper:hover {
  opacity: 1;
}

@media (min-width: 1200px) {
  .copyright-area .hover-flip-item-wrapper {
    opacity: 1;
    text-align: left;
  }

  .copyright-area .hover-flip-item span {
    display: inline-block;
    position: relative;
    z-index: 1;
    color: transparent;
    transition: transform 1.2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .copyright-area .hover-flip-item span:after,
  .copyright-area .hover-flip-item span:before {
    content: attr(data-text);
    display: block;
    position: absolute;
    color: #d93e40;
  }

  .copyright-area .hover-flip-item span:before {
    top: 0;
    transform: skewY(0);
    transform-origin: right bottom;
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .copyright-area .hover-flip-item span:after {
    top: 105%;
    transform: skewY(7deg);
    transform-origin: left top;
    transition: transform 2s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.copyright-area .hover-flip-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.copyright-area .hover-flip-item-wrapper:hover .hover-flip-item span {
  transform: translateY(-105%);
}

.copyright-area .hover-flip-item-wrapper:hover .hover-flip-item span:before {
  transform: skewY(7deg);
}

.copyright-area .mainmenu li a.hover-flip-item-wrapper span:before {
  color: #878787;
}

.copyright-area .hover-flip-item-wrapper:hover .hover-flip-item span:after {
  transform: skewY(0);
}

.copyright-area .mainmenu li a.hover-flip-item-wrapper span:after {
  color: #3858f6;
}

.copyright-area .copyright-right p {
  color: #878787;
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 0;
}
